<div class="form-group">
    <label for="username">Username: </label>
    <input required autofocus placeholder="Enter Username" type="text" name="username" id="username" class="form-control">
  </div>
  <br>
  <div class="form-group">
    <label for="password">Password: </label>
    <input required placeholder="Enter Password" type="password" name="password" id="password" class="form-control">
  </div>
  <br>
  <div class="form-group text-right">
    <button type="submit" tabindex="96" class="loginButton" ><b>Login</b></button>
    <button type="reset" tabindex="98" class="loginButton"><b>Cancel</b></button>
    </a>
  </div>