<!-- Created: Yip Michelle Sze Nga
Student Number: 301226102
Subject: COMP229 - Web Application Development
Date: 10/06/2022
Institution: Centennial College-->

<!-- Favicon--> 
<meta charset="UTF-8">
<title><%= title %></title>
<link rel="shortcut icon" type="image/x-icon" href="img/fav.png" />